accelerate==1.2.1
datasets==3.2.0
deepspeed==0.16.5
einops==0.8.1
flash_attn==2.7.4.post1
flashinfer-python==0.2.5
huggingface-hub==0.30.2
peft==0.15.1
rouge-chinese==1.0.3
safetensors==0.5.3
sentencepiece==0.2.0
tokenizers==0.21.0
torch==2.6.0
transformers==4.49.0
trl==0.9.6
vllm==0.8.4
wandb==0.19.9
xformers==0.0.29.post2